.logo {
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.encabezado {
    background-color: black;
    border-top: 5px solid #ffd000;

    nav {
        ul {
            margin-right: 30px;

            li {
                display: flex;
                list-style: none;
                margin: 0 20px;
                align-items: center;

                a {
                    text-decoration: none;
                    color: white;
                    @include textoConParametos (1.1rem, 700);

                    &:hover {
                        color: #ffd000;
                    }
                }
            }
        }
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            margin-bottom: 0px;
        }
    }
}

.carrito {
    position: relative;
    text-decoration: none;
    margin-left: 16px;

    span {
        position: absolute;
        top: -4px;
        right: 11px;
        background-color: red;
        color: white;
        border-radius: 100%;
        padding: 1px 5px;
        @include textoConParametos (0.8rem, 500)
    }

    svg {
        width: 24px;
        height: 24px;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 6px;
        margin-bottom: 4px;
    }

    p {
        color: white;
        margin: 0px;
        text-align: center;
        @include textoConParametos (0.8rem, 500);
    }
}

.searchContainer {
    position: relative;
}

.resultsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    z-index: 1000;
    background-color: black;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        margin-top: 8px;
        background-color: rgb(46, 46, 46);
    }

    img {
        height: 80px;
    }

    p {
        color: white;
        @include textoConParametos (0.8rem, 400);
        margin-bottom: 0px;
        margin-left: 10px;
    }

}
